.logo {
    display: flex;
    justify-content: flex-start;
    width: 50px;
    height: 30px

}


.navbar {

    &__list {
        display: inline-flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

        &__list--category {
            font-weight: bold;
            font-size: 8px;
            paddingleft: 150px;

        }
    
 }