.logo, .navbar-brand {
    display: flex;
    justify-content: flex-start;
    width: 150px;
    height: 100px

}


.navbar {

    &__list {
        display: inline-flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

        &__list--category {
            font-weight: bold;
            font-size: 8px;
            padding-left: 150px;

        }
    
 }

 .navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
  }

  .navbar-toggler:active {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
  }
